body {
  overflow: scroll;
  margin: 10;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

/*rect {*/
  /*fill: none;*/
  /*pointer-events: all;*/
/*}*/

/*pre {*/
  /*font-size: 18px;*/
/*}*/

/*line {*/
  /*stroke: #000;*/
  /*stroke-width: 1.5px;*/
/*}*/

/*.string, .regexp {*/
  /*color: #f39;*/
/*}*/

/*.keyword {*/
  /*color: #00c;*/
/*}*/

/*.comment {*/
  /*color: #777;*/
  /*font-style: oblique;*/
/*}*/

/*.number {*/
  /*color: #369;*/
/*}*/

/*.class, .special {*/
  /*color: #1181B8;*/
/*}*/

/*a:link, a:visited {*/
  /*color: #000;*/
  /*text-decoration: none;*/
/*}*/

/*a:hover {*/
  /*color: #666;*/
/*}*/
